@charset "utf-8";
/* CSS Document */
@import "font-awesome-sprockets";
@import "font-awesome";
body {
   font-family: 'Karla', sans-serif;
    background-image: url(../img/backdrop.png), linear-gradient(90deg, #3597FF 0%, #1158FF 100%);
    background-repeat: no-repeat;
    background-position: 100%;
    padding-bottom: 40px;
    display: inline-block;
    background-size: contain;
}
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');
*{ 
   margin:0px; 
   padding:0px; 
   box-sizing:border-box;
   outline: none;
}
p{ 
 font-size: 16px;
 color: #646464;
 line-height: 24px;
}
a {
    text-decoration: none;
	font-size: 16px;
}
li{ 
  list-style: none;
}
ul{
   margin:0px;
   padding-left:0px;
   padding-right:0px;
}
.clear{
 clear: both;
}
.container{
   width:1138px;
   margin:0px auto;
}
header.main-header {
    float: left;
    width: 100%;
    position: relative;
}
.top-hed {
    float: left;
    width: 100%;
    margin: 59px 0;
}
.logo {
    float: left;
    width: auto;
}
nav.nav {
    float: right;
    width: auto;
}
nav.nav li {
    float: left;
    width: auto;
    padding: 0 20px;
}
nav.nav li a {
    color: #fff;
    font-size: 14px;
}
.close {
	display:none;
}
.box-form {
    max-width: 749px;
    width: 100%;
    border-radius: 6px;
    background-color: #f8faff;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.1);
    margin: 0 auto;
    padding: 60px 50px 0px;
<<<<<<< HEAD
	overflow-x:hidden;
}
.listheight {
    height: auto !important;
}

.listheight2 {
    height: auto !important;
=======
	overflow:hidden;
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
}
.box-form h2 {
    font-size: 40px;
    font-weight: 400;
}
.middle-sec {
    float: left;
    width: 100%;
}
button.btnsubmit {
    background-color: #267cff;
    border-radius: 33px;
    widt: 100%;
    width: 50%;
}
.first-feild {
    float: left;
    width: 100%;
    margin: 40px 0 25px;
}
.first-feild span.select2 {
    width: 47% !important;
    height: 70px !important;
    line-height: 50px;
	float: left;
}
.first-feild span.select2 span.select2-selection.select2-selection--single {
    height: 70px;
    line-height: 100px;
    border: none;
    box-shadow: 0 3px 7px 2px rgba(0,0,0,0.05);
	border-radius: 4px;
}
.first-feild span.select2 span.select2-selection.select2-selection--single span#select2-selUser-container, .first-feild span.select2 span.select2-selection.select2-selection--single span#select2-selUser2-container {
    color: #000;
    line-height: 70px;
	    padding: 0 18px;
}
.first-feild span.select2 span.select2-selection.select2-selection--single span.select2-selection__arrow {
    height: 70px;
	    width: 40px;
}
.first-feild span.select2 span.select2-selection.select2-selection--single span.select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}
span.select2.select2-container.select2-container--default:last-child {
    margin-left: 6%;
}
.first-feild .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent !important;
}
.select2-dropdown {
    background-color: white;
    border: none !important;
    box-shadow: 0 3px 7px 3px rgba(0,0,0,0.1);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f7f7f7 !important;
	color:#000 !important;
}
.box-form input[type="text"] {
	 height: 70px;
    line-height: 100px;
    border: none;
    box-shadow: 0 3px 7px 2px rgba(0,0,0,0.05);
	padding: 0 18px;
	width:100%;
	border-radius: 4px;
	    font-weight: 600;
		-webkit-appearance: none;
}
.box-form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.box-form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.box-form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.box-form input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.select2-results__option {
    font-size: 19px;
}
.select2-search--dropdown {
    display: block;
    padding: 0;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 15px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none !important;
    height: 70px;
    padding: 0 18px;
}
.submit-button {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 40px 0;
    margin-top: 25px;
    text-align: center;
}
.submit-button {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 40px 0;
    margin-top: 40px;
    text-align: center;
	position:relative;
}
.submit-button::after {
    background: #fff;
    position: absolute;
    content: "";
    right: -100%;
    width: 100%;
    height: 100%;
    top: 0;
}
.submit-button::before {
    background: #fff;
    position: absolute;
    content: "";
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0;
}
.submit-button button.btnsubmit {
    height: 50px;
    width: 211px;
    border-radius: 25px;
    background-color: #3495FF;
    box-shadow: 0 3px 7px 2px rgba(41,152,255,0.2);
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
	cursor:pointer;
}
.first-feild {
    float: left;
    width: 47%;
    margin: 40px 0 25px;
	    position: relative;
}
.mobile-toggle{
  display: none;
}
<<<<<<< HEAD
#showall, ul#showall2 {
=======
#showall {
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
    background-color: #FFFFFF;
    box-shadow: 0 6px 7px 3px rgba(0,0,0,0.1);
    border-top: solid 1px #e5e5e5;
    position: absolute;
    width: 100%;
<<<<<<< HEAD
    z-index: 9999;
    height: 230px;
    overflow-x: hidden;
    padding: 20px 10px;
}
ul#showall option {
    font-size: 17px;
    line-height: 32px;
    padding: 0;
    color: #ccc;
}
ul#showall li:hover, ul#showall2 li:hover{
=======
    z-index: 999;
    height: 230px;
    overflow-x: hidden;
    padding: 10px ;
}
ul#showall option {
    font-size: 21px;
    line-height: 38px;
	padding: 0 10px;
}
ul#showall option:hover{
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
background: #f7f7f7;
}
.div1 {
    position: relative;
}
<<<<<<< HEAD
#showall div, #showall2 div {
    padding: px 0;
    float: left;
    width: 100%;
}
#showall div li, #showall2 div li {
    float: left;
    width: 100%;
    line-height: 26px;
    color: #bfbfbf;
    cursor: pointer;
    padding: 6px 6px;
}
.div4 {
    position: relative;
}
#showall div li strong ,#showall2 div li strong {
    color: #000;
}
=======
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
input#secinp {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 120px;
    background: #f8faff;
    height: 52px;
    box-shadow: none;
    font-weight: 700;
    text-align: center;
    background-image: url(../img/drop.png);
    background-repeat: no-repeat;
    background-position: 89%;
<<<<<<< HEAD
    font-size: 16px;
    cursor: pointer;
    padding: 0 22px 0 35px;
}
input#secinp2 {
    position: absolute;
=======
    font-size: 18px;
}
input#secinp2 {
   position: absolute;
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
    top: 10px;
    right: 18px;
    width: 120px;
    background: #f8faff;
    height: 52px;
    box-shadow: none;
    font-weight: 700;
    text-align: center;
    background-image: url(../img/drop.png);
    background-repeat: no-repeat;
    background-position: 89%;
<<<<<<< HEAD
    font-size: 16px;
    padding-left: 32px;
    cursor: pointer;
}
.div2 i.fa.fa-search, .div5 i.fa.fa-search {
=======
    font-size: 18px;
}
.div2 i.fa.fa-search {
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
    position: absolute;
    top: 25px;
    left: 18px;
}
<<<<<<< HEAD
input#placeSelect , #placeSelect2 {
=======
input#placeSelect {
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
    padding-left: 43px;
    text-transform: uppercase;
}
.mobile-logo{
	
	display:none;
	}
	.second-field {
    float: right;
}
@media(max-width:1170px){
.container{
   width:960px;
}
}
@media(max-width:991px){
<<<<<<< HEAD
    .container {
        width: 100%;
        padding: 0 30px;
    }
}
@media(max-width:767px){
=======
.container{
   width:737px;
}
}
@media(max-width:767px){
.container{
   width:580px;
}
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
body {
    background-color: #f6f8fd;
    background-image: none;
}
.mobile-toggle {
    display: block;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}
nav.nav, .logo {
    display: none;
}
.mobile-logo{
	
	display:block;
	}
	.top-hed {
    margin: 24px 0;
}
.box-form {
    border-radius: 0;
    background-color: #f6f8fd;
    box-shadow: none;
    padding: 0;
}
.first-feild {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    position: inherit;
}

.submit-button {
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.first-feild.second-field {
    margin-bottom: 20px;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
}
nav.nav {
    float: right;
    width: auto;
    background: linear-gradient(90deg, #3597FF 0%, #1158FF 100%);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
	z-index:9999;
    top: 61px;
	    padding: 10px 0;
		    border: none;
    -webkit-appearance: none;
}
nav.nav li {
    width: 100%;
	    padding: 7px 20px;
}
<<<<<<< HEAD
.div2, .div5 {
=======
.div2 {
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    border: 0;
}
<<<<<<< HEAD
#showall, #showall2 {
=======
#showall {
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
    background-color: #FFFFFF;
    box-shadow: 0 6px 7px 3px rgba(0,0,0,0.1);
    border-top: solid 1px #e5e5e5;
    position: absolute;
    width: 100%;
    z-index: 999;
    height: auto;
    overflow-x: hidden;
    padding: 10px;
    left: 0;
    top: 70px;
}
.close {
    position: absolute;
    top: 15px;
    right: 0;
    width: 50px;
    height: 30px;
    color: #bbbbbe;
    font-size: 28px;
    text-align: center;
    background: #fff;
    display: block;
    z-index: 9999;
    cursor: pointer;
	border:none;
}
<<<<<<< HEAD
.submit-button button.btnsubmit {
    width: 100%;
}
.box-form {
    overflow: visible;
}
.submit-button::after {
    right: -30px;
    width: 30px;
    height: 100%;
    top: 0;
}
.submit-button::before {
    left: -30px;
    width: 30px;
}
}
@media(max-width:600px){

}
@media(max-width:480px){

=======
}
@media(max-width:600px){
.container{
   width:450px;
}
}
@media(max-width:480px){
.container{
   width:300px;
}
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
.box-form h2 {
    font-size: 32px;
    font-weight: 400;
}
<<<<<<< HEAD
}
/* div {
    position: relative; 
   
  }
  .inputText {
    font-size: 14px;
    width: 200px;
    height: 25px;
  }

.first-feild .floating-label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 28px;
    transition: 0.2s ease all;
    font-size: 13px;
    font-weight: 600;
}
.first-feild input.inputText:focus + .floating-label,
  .first-feild input.inputText:not(:focus):valid + .floating-label{
    top: 10px;
    font-size: 11px;
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
}
.inputText2 {
    font-size: 14px;
    width: 200px;
    height: 25px;
  }
.second-field input.inputText2:focus + .floating-label2 {
    top: 10px;
    font-size: 11px;
}
.second-field .floating-label2 {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 28px;
    transition: 0.2s ease all;
    font-size: 13px;
    font-weight: 600;
}
  */
  input.question {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    padding-top: 17px !important;
}
/* Underline and Placeholder */

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}


input.question:focus + label > span, input.question:valid + label > span {
    top: -48px;
    font-size: 9px;
    color: #cac9c9;
    left: 18px;
}

/* textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
} */

input.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #000000;
    font-size: 11px;
    top: -41px;
    left: 16px;
    z-index: -1;
    text-transform: uppercase;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    z-index: 99;
}




@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}


input.get {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    padding-top: 17px !important;
}
/* Underline and Placeholder */

input.get + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}


input.get:focus + label > span, input.get:valid + label > span {
    top: -48px;
    font-size: 9px;
    color: #cac9c9;
    left: 18px;
}

/* textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
} */

input.get + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #000000;
    font-size: 11px;
    top: -41px;
    left: 16px;
    z-index: -1;
    text-transform: uppercase;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    z-index: 99;
}
span#imgappend, .selectedicon {
    position: absolute;
    right: 99px;
    top: 21px;
    z-index: 999;
    cursor: pointer;
}
span#imgappend2 {
    position: absolute;
    right: 99px;
    top: 21px;
    z-index: 99;
    cursor: pointer;
}


@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

img.imageicons {
    float: left;
}
ul#showall img, ul#showall2 img {
    margin-right: 30px;
    width: 26px;
}

/* WalletAdd */

input.WalletAdd {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    padding-top: 17px !important;
}
/* Underline and Placeholder */

input.WalletAdd + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}


input.WalletAdd:focus + label > span, input.WalletAdd:valid + label > span {
    top: -48px;
    font-size: 9px;
    color: #cac9c9;
    left: 18px;
}

/* textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
} */

input.WalletAdd + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #000000;
    font-size: 11px;
    top: -41px;
    left: 16px;
    z-index: -1;
    text-transform: uppercase;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    z-index: 99;
}



@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

=======
}
>>>>>>> 18183f7f4bd759838a9927fc8d8a57dfa65d9932
